.wrapper {
  overflow: hidden;


}
.image{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
  border-radius: 12px;
  position: relative;
}
.heart{
  position: absolute;
  top:8px;
  right: 8px;
  color:var(--text-white);
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
  max-width: 200px;
  overflow: hidden;
  .location {
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--text-black);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .name {
    font-size: 1.4rem;
    color:var(--gray-hard)
  }
  .time {
    font-size: 1.4rem;
    color:var(--gray-hard)
  }
  .price{
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--text-black);
    .price-des{
      font-size: 1.4rem;
      color:var(--gray-hard);
      font-weight: 300;
      padding-left: 4px;
    }
  }
}
.body{
  display: flex;
  justify-content: space-between;
  .star{
    color:var(--text-black);
    font-size: 1.6rem;
    margin-left: 12px;
    .star-icon{
      color:var(--text-black);
      font-size: 1.2rem;
      padding-right: 4px;
    }
  }
}
