
.header {
  background-color: aqua;
  position: fixed;
  top:0;
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: var(--background-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 var(--default-layout-padding);
  border-bottom: 1px solid var(--gray) ;
  z-index: 10;
}
.logo{
  color:var(--primary);
  flex:1;
  &:hover{
    cursor: pointer;
  }
}
.search {
  flex:1;
  display: flex;
  justify-content: center;
}
.menu {
  flex:1;
}